<div class="container">
  <div class="container-control">
    <div class="container-pantalla">
      <div style="color: #27ff0030;">The Pit - La Nave v0.0.1</div>
        <div>La Nave<br><br>
          Un espacio para hacer nuevos amigos...
        </div>
        <div>Utiliza</div>
      </div>
      <div class="botonera">
        <a class="btn">Entrar</a>
      </div>
  </div>
  
    
  <div class="container-control">
    <div class="container-pantalla">
      <div class="container-texto">
        <div style="color: #27ff0030;">The Tomato Crate Cassette Loader</div>
        <div id="memoria">Sin carga

        </div>
        <div id="mensaje" class="mensaje"></div>  
        <loading-indicator/>
      </div>
            

    </div>
    <div class="botonera">
      <a class="btn" (click)="uploader.click()">Cargar</a>
      <a class="btn" (click)="ResetDB()">Reset</a>
    </div>
  </div>
</div>

  <input hidden type="file" accept=".cassette" (change)="FPicker_OnChange($event)" #uploader />
<!--
<div class="fondo" *ngIf="muestraRadio"></div>
<div class="FPicker" (click)="uploader.click()" *ngIf="muestraRadio">

        <input hidden type="file" accept=".cassette" (change)="FPicker_OnChange($event)" #uploader />

</div>

<div class="indicadorCarga">
  <h1>Cargando</h1>
  <div id="elementosCargados">s</div>
</div>

<app-reproductor>-->